<div class="col-md-3 mb-2 mb-md-0">
  <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
  </a>
</div>

<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
  <li>
    <a
      aria-current="page"
      [routerLink]="['/auth/home']"
      routerLinkActive="active"
      class="nav-link px-2 link-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li class="nav-item" *ngIf="utente">
    <a
      [routerLink]="['/auth/movies']"
      routerLinkActive="active"
      class="nav-link px-2"
      >Film</a
    >
  </li>
  <li class="nav-item" *ngIf="utente">
    <a
      [routerLink]="['/authprofilo']"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      class="nav-link px-2"
      >Profilo</a
    >
  </li>
  <li class="nav-item" *ngIf="utente">
    <a
      [routerLink]="['/auth/utenti']"
      routerLinkActive="active"
      class="nav-link px-2"
      >Utenti</a
    >
  </li>
  <li><a href="#" class="nav-link px-2">About</a></li>
</ul>

<div class="col-md-3 text-end">
  <a
    [routerLink]="['/auth/loading']"
    type="button"
    class="btn btn-outline-primary me-2"
    >Login</a
  >
  <a [routerLink]="['/auth/register']" type="button" class="btn btn-primary"
    >Register</a
  >
</div>
<div class="text-end" *ngIf="utente">
  <h6>Benvenuto {{ utente.user.name }}</h6>
  <button
    type="button"
    id="logout"
    name="logout"
    class="btn btn-danger"
    (click)="logout()"
  >
    Esci
  </button>
</div>
